################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAB6/.vs/LAB6/v16/Server/sqlite3
